---
---


@import "../_libraries/bootstrap/scss/bootstrap";


html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.footer-main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  color: lavender;
}

.zitate {
  background: #eee;
line-height: 100px;
text-align: center;
border: 1px solid #ddd;
}

.bgimage {
background-image: url('../images/lavender_camera.jpg');
background-size: 100%;
min-height: 617.5px;
}

/*.bgimage-inside {
padding-top: 75%;
}*/

.frontpage {
  background: url('../images/lavender_site.jpg') center center /cover no-repeat;
  min-height: 100vh;
  margin-top: -53.6px;
  padding-top: 53.6px;
}

.center-block {
  display: block;
  width: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  color: honeydew;
}

.change_color {
  color: whitesmoke;
}
