---
---


@import "../_libraries/bootstrap/scss/bootstrap";


html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.footer-main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 1rem;
  color: lavender;
}

.zitate {
  background: #eee;
line-height: 100px;
text-align: center;
border: 1px solid #ddd;
}

.bgimage {
background-image: url('{{ site.github.url }}/images/lavender_camera.jpg');
background-size: 100%;
min-height: 617.5px;
}

/*.bgimage-inside {
padding-top: 75%;
}*/

.frontpage {
  background: url('{{ site.github.url }}/images/lavender_camera.jpg') center center /cover no-repeat;
  min-height: 100vh;
  margin-top: -53.6px;
  padding-top: 53.6px;
}

.center-block {
  display: block;
  width: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  color: honeydew;
}

.change_color {
  color: whitesmoke;
}

.mh-jumbotron {
	box-sizing: inherit;
	display: flex;
  background-size: 100%;
  -webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	background: url({{ site.github.url }}/images/lavender_camera.jpg) center center /cover no-repeat;
  min-height: 100vh;
  color: honeydew;
  margin: auto;
  margin-top : -23.6px;
  font-family: Calibri;
	text-shadow: .15rem .15rem .35rem #000;
}

.mh-jumbotron__title {
	-webkit-animation: .5s .25s fade backwards ease-out;
	animation: .5s .25s fade backwards ease-out;
	text-align: center;
	margin: auto;
}

.center-children{
  text-align: center;
}
