<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link {% if page.url == '/' %}active{% endif %}"
    href="index">Start <span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link {% if page.url == '/aboutme.html' %}active{% endif %}"
    href="aboutme">Über mich</a>
    <div class="nav-item dropdown {% if page.url == '/ansatz.html' or
    page.url == '/physio.html' or page.url == '/natur.html' %}active{% endif %}">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="ansatz"
        role="button" aria-haspopup="true" aria-expanded="false">
        Mein ganzheitlicher Ansatz</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="ansatz">Meine Behandlungsphilosophie</a>
          <a class="dropdown-item" href="physio">Physiotheraphie</a>
          <a class="dropdown-item" href="natur">Naturheilkunde</a>
        </div>
      </div>
    <a class="nav-item nav-link {% if page.url == '/offer.html' %}active{% endif %}"
    href="offer">Angebot</a>
    <a class="nav-item nav-link {% if page.url == '/costs.html' %}active{% endif %}"
    href="costs">Kosten</a>
    <a class="nav-item nav-link {% if page.url == '/current.html' %}active{% endif %}"
    href="current">Aktuelles</a>
    <a class="nav-item nav-link {% if page.url == '/howtogetthere.html' %}active{% endif %}"
    href="howtogetthere">Anfahrt</a>
  </div>
</nav>



   {% if page.url == node.url %}
     <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
   {% else %}
     <li><a href="{{node.url}}">{{node.title}}</a></li>
   {% endif %}
