


<blockquote class="blockquote">
  <p class="m-b-0 small" >In der lebendigen Natur geschieht nichts,
  was nicht in Verbindung
  mit dem Ganzen steht.</p>
  <footer class="blockquote-footer">J.W. von Goethe
    <cite title="Source Title"></cite></footer>



<!-- <blockquote class="blockquote">
  <p class="m-b-0 small" > Hab Geduld, alle Dinge sind schwierig bevor sie einfach
  werden. </p>
  <footer class="blockquote-footer">Französisches Sprichwort
    <cite title="Source Title"></cite></footer> -->


  <img src="{{ site.github.url }}/images/herb.jpg" class="img-fluid" alt="Responsive image">
</blockquote>
