
{% if page.url == "/aboutme.html" %}


<blockquote class="blockquote">
  <p class="m-b-0 small" >In der lebendigen Natur geschieht nichts,
  was nicht in Verbindung
  mit dem Ganzen steht.</p>
  <footer class="blockquote-footer">J.W. von Goethe
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb1.jpg" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/ansatz.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Hab Geduld, alle Dinge sind schwierig bevor sie einfach
  werden. </p>
  <footer class="blockquote-footer">Französisches Sprichwort
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb2.png" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/offer.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Gestern war ein Tag zum Weinen.
Gestern war ich nicht gesund.
Heute bin ich auf den Beinen.
Morgen geht es wieder rund. </p>
  <footer class="blockquote-footer">Frantz Wittkamp
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb3.jpg" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/costs.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Gesundheit ist weniger ein Zustand
als eine Haltung.
Und sie gedeiht mit der Freude am Leben. </p>
  <footer class="blockquote-footer">Thomas von Aquin
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb4.png" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/rooms.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Der kleinste Stein der vom Dach fällt, erschüttert die Welt. </p>
  <footer class="blockquote-footer">Wilhelm Busch
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb5.png" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/current.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Der beste Arzt ist die Natur,
denn sie heilt nicht nur viele Leiden,
sondern sie spricht auch nicht
schlecht von einem Kollegen. </p>
  <footer class="blockquote-footer">Ernst Ferdinand Sauerbruch
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb1.jpg" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/howtogetthere.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Der kleinste Stein der vom Dach fällt, erschüttert die Welt. </p>
  <footer class="blockquote-footer">Wilhelm Busch
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb2.png" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/physio.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Der kleinste Stein der vom Dach fällt, erschüttert die Welt. </p>
  <footer class="blockquote-footer">Wilhelm Busch
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb3.jpg" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}

{% if page.url == "/natur.html" %}

<blockquote class="blockquote">
  <p class="m-b-0 small" > Der kleinste Stein der vom Dach fällt, erschüttert die Welt. </p>
  <footer class="blockquote-footer">Wilhelm Busch
    <cite title="Source Title"></cite></footer>
  </p>

  <img src="{{ site.github.url }}/images/herb4.png" class="img-fluid" alt="Responsive image">
  </blockquote>
{% endif %}
