<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Physiotherapie und Naturheilkunde Nostitz Rügen</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>

<body style = "background-color: #F8F8FF;">
    {% include header.html %}

    {{ content }}

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    {% include footer.html %}
</body>

</html>
